snippet meeting "会议记录"

## 会议记录 `#!/bin/bash
date '+%Y-%m-%d'`

参会人：

- A


需要讨论解决问题：

- Question A
- Question B


会议过程记录：

- Topic A
- Topic B


遗留问题：

🚀

- Question


Actions：

- Topic A
- Topic B


endsnippet


snippet card "卡片"

## 术语卡


## 人名卡


## 反常识卡


## 金句卡


## 行动卡


## 技巧卡


## 任意卡


endsnippet


snippet issue "问题"

## 问题： `#!/bin/bash
date '+%Y-%m-%d'`

参会人：

- A


问题：

A


解决问题方向：

- A


解决方案：

- A
- B


优劣分析：

- A
- B


待办项：

- A


endsnippet


snippet date "Date"
`#!/bin/bash
date '+%Y-%m-%d'`
endsnippet
